Project Overview
1. Онбординг-квиз
Спрашиваем текущий вес, рост, пол, и процент жира.
Спрашиваем что человек хочет (похудеть, набрать массу, поддерживать вес). Если похудеть или набрать вес то как быстро (быстро, оптимально, медленно).
Спрашиваем текущий уровень активности в неделю даем несколько каунтеров потыкать а) ходьба (километры) б) бег (километры) в) единоборства (часы) г) плаванье (километры) д) велосипед (километры) е) зал или калистетиника (часы)
2. Процесс
Из этих показателей рассчитываем кол-во калорий, белков, жиров, и углеводов на день и приблизительно даем отрезок ( например 60 дней на то, чтобы похудеть)
По фотографии или штрих-коду продукта распознаем микро и макро-нутриенты и даем пользователю вести журнал каллорий.
Так же даем добавлять текущий вес каждый день. Раз в неделю напоминаем об этом.
Исходя из того какой вес добавляет пользователь, раз в неделю изменяем кол-во каллорий на день. Так как у всех разный метаболизм, важно следить за весом.
Когда 60 дней проходит — переводим из режима похудения на режим поддержания веса и даем возможность поставить новую цель.


это приложение для подсчета калорий и макро-нутриентов. добавляй код но не ломай существующий код.